.outer_wrapper {
  width: 1440px;
  height: 218px;
  padding: 57px 0;
  background: none;
}

.inner_wrappers {
}

.img {
  margin: auto;
  width: 500px;
  height: 200px;
}

@media screen and (max-width: 1440px) {
  .outer_wrapper {
    width: 100%;
    height: 15.139vw;
    padding: 3.958vw 0;
  }

  .img {
  }
}

@media screen and (max-width: 700px) {
  .outer_wrapper {
    width: 100%;
    height: 31.143vw;
    padding: 8.429vw 0;
  }

  .img {
  }
}
