.App {
  background-color: rgb(243, 238, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  width: 100vw;
  height: 100vh;
}

.slick-track {
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}

@media screen and (max-width: 700px) {
  .App {
    padding-top: 15%;
  }

  .slick-dots li {
    width: .5rem !important;
    height: .5rem !important;
    margin: 0 .125rem !important;
  }
}